<article class="post-card">
	<a href="{{url}}" class="post-card-link">
		<div class="post-card-content">
			<h2 class="post-card-title">{{title}}</h2>
			<span class="post-card-date"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY-MM-DD"}}</time></span>
		</div>
	</a>
</article>